h1{
    margin-bottom: 30px;
    color:mediumvioletred;
    text-decoration: underline;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color:;
    border: solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: aliceblue;
    font-weight: bold;
}
hr{
    margin-bottom: 15px;
}
body{
    background-color:blueviolet;
}